:root {
    background-color: #008080;
    font-family: sans-serif;
    color: #000;
}

body {
    margin: 0;
}

.hidden {
    display: none;
}

.text-input-box {
    border-style: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: space;
    gap: 80px;
    padding: 100px;
}

.buttons {
    color: #818181;
    position: absolute;
    left: 43%;
    text-decoration: none;
}

.buttons:active {
    color: #818181;
}

.text-input {
    font-size: 32px;
    background-color: #008080;
    text-align: left;
    height: 600px;
    width: 540px;
}

.text-output {
    position: relative;
    font-size: 28px;
    background-color: #fdffff;
    height: 600px;
}

.content
.text-output-box 
h2 {
    text-align: center;
    position: absolute;
    align-items: space;
    left: 60%;
    top: 20%;
}

.content
.text-output-box
p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 60%;
}

.taskbar {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #C0C0C0;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #808080;
    box-shadow: inset 0 1px #FFFFFF;
}

.start-button {
    display: flex;
    align-items: center;
    background-color: #C0C0C0;
    border: 2px solid #808080;
    padding: 2px 8px;
    margin: 4px;
    height: 23px;
    box-shadow: inset 1px 1px 0 #FFFFFF, inset -1px -1px 0 #808080;
    cursor: pointer;
}

.start-button
a {
    text-decoration: none;
    color: #000;
}

.start-button img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.taskbar-apps {
    display: flex;
    align-items: center;
    margin-left: 4px;
    flex-grow: 1;
}

.nickname {
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin: 4px;
    height: 23px;
    background-color: #C0C0C0;
    border: 2px solid #808080;
    box-shadow: inset 1px 1px 0 #FFFFFF, inset -1px -1px 0 #808080;
}

.nickname span {
    font-size: 14px;
}

.nickname a {
    text-decoration: none;
    color: #000;
}

.taskbar-clock {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 10px;
    margin: 2px;
    height: 25px;
    width: 80px;
    border: 2px solid #C0C0C0;
    box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFFFFF;
}

.taskbar-clock span {
    font-size: 14px;
}